body {
    font-family: $font-family;
}
.fs {
    &-headline {
        font-size: 40pt;
    }
    &-title {
        font-size: 30pt;
    }
    &-sub-headline {
        font-size: 20pt;
    }
    &-primary {
        font-size: 18pt;
    }
    &-secondary {
        font-size: 12pt;
    }
}
