.ot {
    &-nav {
        &-open {
            &.sidenav {
                width: 35%;
                background-color: $color-white;
                padding-top: 6.5rem;
            }
        }
    }
}
/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Stay on top */
    top: 0;
    right: 0;
    background-color: $color-primary; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    a {
        margin-bottom: 1rem;
        text-decoration: none;
        font-size: 1.5rem;
        color: $color-primary;
        display: block;
        transition: 0.3s;
        &:last-child {
            margin-bottom: 0;
        }
        &:hover {
            color: $color-accent;
        }
    }
}

// /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
// @media screen and (max-height: 450px) {
//     .sidenav {
//         padding-top: 15px;
//     }
//     .sidenav a {
//         font-size: 18px;
//     }
// }

#ot-menu-btn {
    position: fixed; /* Fixed/sticky position */
    top: 15px; /* Place the button at the bottom of the page */
    right: 15px; /* Place the button 30px from the right */
    z-index: 1001; /* Make sure it does not overlap */
    outline: none; /* Remove outline */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    color: $color-primary;
    background-color: $color-accent;

    &:hover {
        background-color: $color-primary; /* Add a dark-grey background on hover */
        color: $color-white;
    }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    .ot {
        &-nav {
            &-open {
                &.sidenav {
                    width: 65%;
                    background-color: $color-white;
                }
            }
        }
    }
}
